@import '../common/blether-variables.scss';

$inputBordeRadius: 5px;
$toolbarHeight: 30px;

.message-input {
  flex: 0 0 135px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-container {
  width: 95%;
}

.editor-wrapper {
  height: 100px;
  box-sizing: border-box;

  .toolbar {
    height: $toolbarHeight;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: $inputBordeRadius $inputBordeRadius 0px 0px;
  }

  .editor {
    height: calc(100% - 30px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    font-family: $regularTextFont;
    border-radius: 0px 0px $inputBordeRadius $inputBordeRadius;
  }

  .rdw-emoji-modal {
    top: auto;
    left: 40px;
    bottom: 3px;
  }
}

.public-DraftStyleDefault-block {
  margin: 0;
  margin-left: 5px;
}
