@import '../common/blether-variables.scss';

.message-panel {
  flex: 1 1;
  width: calc(100% - $sidebarClosedWidth);
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
