@import '../common/blether-variables.scss';

.message {
  width: 100%;
  font-family: $regularTextFont;
  box-sizing: border-box;
  padding: 5px;

  display: flex;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .left-col {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;

    .icon {
      width: 40px;
      height: 40px;
      margin: 0;
    }
  }

  .right-col {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding-left: 5px;
    display: flex;
    flex-direction: column;

    .top-row {
      width: 100%;

      display: flex;

      .name {
        margin-right: 10px;
        font-weight: bold;
      }

      .time {
        opacity: 0.5;
      }
    }

    .bot-row {
      flex: 1 1 100%;
      width: 100%;

      .content {
        p {
          margin: 0;
        }
      }
    }
  }
}
