@import '../common/blether-variables.scss';

.message-input {
  flex: 0 0;
  width: 100%;
  height: 200px;
}

.editor-wrapper {
  height: 100px;

  .toolbar {
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
  }

  .editor {
    height: calc(100% - 45px);
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 10px;
    font-family: $regularTextFont;
  }

  .rdw-emoji-modal {
    top: auto;
    left: 40px;
    bottom: 3px;
  }
}

.public-DraftStyleDefault-block {
  margin: 0;
  margin-left: 5px;
}
