@import '../blether-variables.scss';

.button {
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;

  transition: all 0.3s linear;

  background-color: $buttonBgColor;
  color: $buttonTextColor;
  font-family: $regularTextFont;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $buttonBgHover;
  }

  &.disabled {
    background-color: $buttonBgDim;
    color: $buttonTextDim;

    &:hover {
      background-color: $buttonBgDim;
    }
  }
}
