@import '../common/blether-variables.scss';

.home-screen {
  width: 100%;
  height: 100%;

  transition: all 0.3s linear;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 5rem;
    font-family: $titleTextFont;
  }

  .icon-name {
    margin-top: 50px;
    font-size: 2rem;
    font-family: $regularTextFont;
    display: flex;
    align-items: center;

    .name {
      margin-left: 5px;
    }
  }

  .settings {
    margin-top: 50px;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
    font-family: $regularTextFont;
  }

  .start-button {
    margin-top: 50px;
    width: 180px;
    height: 40px;
    font-size: 1.4rem;
  }
}
