@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins&display=swap');

$regularTextFont: 'Poppins', sans-serif;
$titleTextFont: 'Comfortaa', cursive;

$animInCurve: cubic-bezier(0.175, 0.885, 0.32, 1.05);
$animOutCurve: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Chat window
$sidebarOpenWidth: 250px;
$sidebarClosedWidth: 60px;

// Buttons
$buttonBgColor: #59488b;
$buttonBgHover: #7d6bb3;
$buttonBgDim: #b7b3c4;
$buttonTextColor: white;
$buttonTextDim: #dee4e7;

// Light theme
$lightMainColor: #dee4e7;
$lightMainTextColor: #1f1f1f;

// Dark theme
$darkMainColor: #37474f;
$darkMainTextColor: #dee4e7;
$darkSecondaryColor: #2a363c;
$darkAccentColor: #648290;
$darkBorderColor: #dee4e7;

.main-ui {
  &.light {
    background-color: $lightMainColor;
    color: $lightMainTextColor;
  }

  &.dark {
    background-color: $darkMainColor;
    color: $darkMainTextColor;
    border-color: $darkBorderColor;
  }
}

.secondary-ui {
  &.dark {
    background-color: $darkSecondaryColor;
    color: $darkMainTextColor;
    border-color: $darkBorderColor;
  }
}

.accent-ui {
  &.dark {
    background-color: $darkAccentColor;
    color: $darkMainTextColor;
    //border-color: $darkBorderColor;

    .rdw-option-wrapper {
      background-color: $darkAccentColor;
      border-color: black;
    }
  }
}
