@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins&display=swap');

$regularTextFont: 'Poppins', sans-serif;
$titleTextFont: 'Comfortaa', cursive;

$animInCurve: cubic-bezier(0.175, 0.885, 0.32, 1.05);
$animOutCurve: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Chat window
$sidebarOpenWidth: 250px;
$sidebarClosedWidth: 60px;

// Buttons
$buttonBgColor: #59488b;
$buttonBgHover: #7d6bb3;
$buttonBgDim: #b7b3c4;
$buttonTextColor: white;
$buttonTextDim: #dee4e7;

// Light theme
$lightMainColor: #ebebeb;
$lightMainTextColor: #1f1f1f;
$lightSecondaryColor: #c4ced4;
$lightAccentColor: #dee4e7;

// Dark theme
$darkMainColor: #37474f;
$darkMainTextColor: #dee4e7;
$darkSecondaryColor: #2a363c;
$darkAccentColor: #648290;
$darkBorderColor: #dee4e7;

.main-ui {
  &.light {
    background-color: $lightMainColor;
    color: $lightMainTextColor;
  }

  &.dark {
    background-color: $darkMainColor;
    color: $darkMainTextColor;
    border-color: $darkBorderColor;
  }
}

.secondary-ui {
  &.light {
    background-color: $lightSecondaryColor;
    color: $lightMainTextColor;
  }
  &.dark {
    background-color: $darkSecondaryColor;
    color: $darkMainTextColor;
    border-color: $darkBorderColor;
  }
}

.accent-ui {
  .rdw-option-wrapper {
    border: none;
    box-shadow: none;
    border-radius: 2px 2px 0px 0px;
  }
  &.light {
    background-color: $lightAccentColor;
    color: $lightMainTextColor;

    .rdw-option-wrapper {
      background-color: $lightAccentColor;
      &:hover {
        background-color: #d1d9de;
      }
    }
    .rdw-option-active {
      background-color: $lightSecondaryColor;
      &:hover {
        background-color: $lightSecondaryColor;
      }
    }
  }

  &.dark {
    background-color: $darkAccentColor;
    color: $darkMainTextColor;

    .rdw-option-wrapper {
      background-color: $darkAccentColor;
      &:hover {
        background-color: #6f8d9b;
      }
    }
    .rdw-option-active {
      background-color: #87a0ab;
      &:hover {
        background-color: #87a0ab;
      }
    }
  }
}

.light::-webkit-scrollbar {
  width: 10px;
  background-color: $lightSecondaryColor;
}

.light::-webkit-scrollbar-thumb {
  background: $lightAccentColor;
  border-radius: 10px;

  &:hover {
    background: $lightMainColor;
  }
}

.dark::-webkit-scrollbar {
  width: 10px;
  background-color: $darkSecondaryColor;
}

.dark::-webkit-scrollbar-thumb {
  background: $darkAccentColor;
  border-radius: 10px;
  &:hover {
    background: $darkMainColor;
  }
}
